<h1>Account settings</h1>
<h2>Change login</h2>
<p>Changing login can have some side effects (for example, links to your profile won't work).</p>
<form [formGroup]="loginForm" (submit)="loginSubmit()">
  <div class="line">
    <mat-form-field class="field" appearance="outline">
      <mat-label>New login</mat-label>
      <input type="text" required pattern="^[a-zA-Z0-9-_.]*$" maxlength="256" autocomplete="off" matInput formControlName="login"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="loginForm.get('login').errors?.required">Login is a required field</mat-error>
      <mat-error *ngIf="loginForm.get('login').errors?.pattern">Login can only contain english letters, numbers and
        symbols '_', '-', '.'</mat-error>
      <mat-error *ngIf="loginForm.get('login').errors?.maxlength">Login must be no more than 256 characters long
      </mat-error>
      <mat-error *ngIf="loginForm.get('login').errors?.serverErrors">
        <div *ngFor="let error of loginForm.get('login').errors?.serverErrors">{{error}}</div>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="actions justify-content-end">
    <button type="submit" [disabled]="inProcess" mat-raised-button color="primary">Change login</button>
  </div>
</form>

<mat-divider class="my-4"></mat-divider>

<h2>Change email</h2>
<p>To change your account email address you must enter new email address and confirm it by following the link in the
  email that will be sent to the new email address.</p>
<form [formGroup]="emailForm" (submit)="emailSubmit()">
  <div class="line">
    <mat-form-field class="field" appearance="outline">
      <mat-label>Current email</mat-label>
      <input type="email" required autocomplete="off" disabled matInput [value]="email">
    </mat-form-field>
  </div>
  <div class="line">
    <mat-form-field class="field" appearance="outline">
      <mat-label>New email</mat-label>
      <input type="email" required autocomplete="off" matInput formControlName="email" [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailForm.get('email').errors?.required">Email is a required field</mat-error>
      <mat-error *ngIf="emailForm.get('email').errors?.email">Not a valid email</mat-error>
      <mat-error *ngIf="emailForm.get('email').errors?.serverErrors">
        <div *ngFor="let error of emailForm.get('email').errors?.serverErrors">{{error}}</div>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="actions justify-content-end">
    <button type="submit" [disabled]="inProcess" mat-raised-button color="primary">Change email</button>
  </div>
</form>