<div class="app__container pt-4 px-3">
  <div class="card mt-2 mb-4 py-3 row mx-0 justify-content-between align-items-center">
    <mat-form-field appearance="outline">
      <input matInput type="search" placeholder="Find user collection..." autocomplete="off" [(ngModel)]="searchString"
        (input)="searchCollections()">
      <button type="button" tabindex="-1" mat-icon-button matSuffix (click)="clearSearch()"
        [disabled]="searchString.length == 0">
        <mat-icon class="material-icons-round">clear</mat-icon>
      </button>
    </mat-form-field>
    <button mat-stroked-button routerLink="/new" color="primary">New</button>
  </div>

  <div class="cards-group">
    <mat-card *ngFor="let collection of collections | async">
      <img mat-card-image [src]="getCollectionCover(collection.coverPath)" [alt]="collection.name">
      <mat-card-content>
        <main>
          <header>
            <h2>{{ collection.name }}</h2>
            <button *ngIf="isAuthenticated()" mat-icon-button color="warn">
              <mat-icon class="material-icons-round">star_outline</mat-icon>
            </button>
          </header>
          <p *ngIf="collection.description">{{ collection.description }}</p>
        </main>
        <footer>
          <mat-chip-list *ngIf="collection.tags?.length > 0">
            <mat-chip *ngFor="let tag of collection.tags">
              <span>
                {{ tag.label }}
              </span>
            </mat-chip>
          </mat-chip-list>
          <data>
            <div class="date">{{ collection.creationTime | date: 'medium' }}</div>
            <div class="statistics">
              <span matTooltip="15 stars" matTooltipPosition="above">
                15<mat-icon class="material-icons-round">star</mat-icon>
              </span>
              <span matTooltip="0 items" matTooltipPosition="above">
                0<mat-icon class="material-icons-round">reorder</mat-icon>
              </span>
            </div>
          </data>
        </footer>
      </mat-card-content>
    </mat-card>
  </div>

  <h1 *ngIf="totalCount == 0" class="row mx-0 justify-content-center">
    No collections found
  </h1>

  <div class="pb-4 mt-4">
    <mat-paginator [style.display]="totalCount <= 0 ? 'none' : 'block'" [length]="totalCount" [pageSize]="pageSize"
      [pageIndex]="pageIndex" [pageSizeOptions]="[6, 12, 24]" (page)="pageChanged($event)"></mat-paginator>
  </div>
</div>