<div class="app__container pt-4 px-3">
  <div class="card mt-2 mb-4 py-3 row mx-0 justify-content-between align-items-center">
    <mat-form-field appearance="outline">
      <input matInput type="search" placeholder="Find user collection..." autocomplete="off" [(ngModel)]="searchString"
        (input)="searchCollections()">
      <button type="button" tabindex="-1" mat-icon-button matSuffix (click)="clearSearch()" [disabled]="searchString.length == 0">
        <mat-icon class="material-icons-round">clear</mat-icon>
      </button>
    </mat-form-field>
    <button mat-stroked-button routerLink="/new" color="primary">New</button>
  </div>
  <div class="cards-group">
    <mat-card *ngFor="let collection of collections | async">
      <img mat-card-image *ngIf="collection.coverPath" [src]="getCollectionCover(collection.coverPath)"
        [alt]="collection.coverPath">
      <mat-card-content>
        <header>
          <h2>{{ collection.name }}</h2>
          <button mat-icon-button color="warn">
            <mat-icon class="material-icons-round">star_outline</mat-icon>
          </button>
        </header>
        <p *ngIf="collection.description">{{ collection.description }}</p>
        <div class="tags" *ngIf="collection.tags?.length > 0">
          <mat-chip-list>
            <mat-chip *ngFor="let tag of collection.tags">
              <span>
                {{ tag.label }}
              </span>
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="date">{{ collection.creationTime | date: 'medium' }}</div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="pb-4">
    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[6, 12, 24]" (page)="pageChanged($event)"></mat-paginator>
  </div>
</div>