@import "src/variables.scss";

mat-card {
  height: 100%;
  box-shadow: 0 0 6px 0 #00000040 !important;
  border-radius: 8px;

  header {
    margin-bottom: 0.7rem;
  }

  img {
    height: 250px;
    object-fit: cover;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 250px - 1rem - 3.5rem - 0.7rem);

    &.without-header {
      height: calc(100% - 250px);
    }

    main {
      display: flex;
      flex-direction: column;

      header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        h2 {
          margin: 0;
          word-wrap: break-word;
          margin-right: 0.5rem;

          a {
            text-decoration: none;
            color: black;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      p {
        @include no-wrap-text(4);
        margin: 0;
        margin-top: 0.5rem;
      }
    }

    footer {
      display: flex;
      flex-direction: column;

      margin-top: 0.7rem;

      mat-chip {
        max-width: 100%;

        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      data {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        margin-top: 0.8rem;

        font-size: 0.8rem;
        opacity: 0.6;

        .date {
          display: flex;
          flex-grow: 1;
        }

        .statistics {
          display: flex;
          flex-direction: row;
          align-items: center;

          cursor: default;

          span {
            display: flex;
            align-items: center;
            margin-left: 0.5rem;

            mat-icon {
              font-size: 1rem;
              width: auto;
              height: auto;
            }
          }
        }
      }
    }
  }
}
