<mat-card>
  <header *ngIf="collection.user">
    <app-profile-cover [user]="collection.user"></app-profile-cover>
  </header>
  <img mat-card-image [src]="collectionCover" [alt]="collection.name">
  <mat-card-content [class]="!collection.user ? 'without-header' : ''">
    <main>
      <header>
        <h2><a [routerLink]="['/collection', collection.id]">{{ collection.name }}</a></h2>
        <app-star *ngIf="isAuthenticated && !isOwner" [starred]="starred" [collectionId]="collection.id"
          (toggled)="starToggledEventHandler($event)"></app-star>
      </header>
      <p *ngIf="collection.description">{{ collection.description }}</p>
    </main>
    <footer>
      <mat-chip-list *ngIf="collection.tags?.length > 0">
        <mat-chip *ngFor="let tag of collection.tags" [routerLink]="['/search', 'collections']"
          [queryParams]="getTagQueryParams(tag.label)">
          <span>
            {{ tag.label }}
          </span>
        </mat-chip>
      </mat-chip-list>
      <data>
        <div class="date">{{ collection.creationTime | date: 'medium' : 'ru-RU' }}</div>
        <div class="statistics">
          <app-stars-counter [count]="starsCount" [collectionId]="collection.id" [collectionName]="collection.name"></app-stars-counter>
          <span matTooltip="{{ collection.itemsCount }} items" matTooltipPosition="above">
            {{ collection.itemsCount }}<mat-icon class="material-icons-round">reorder</mat-icon>
          </span>
        </div>
      </data>
    </footer>
  </mat-card-content>
</mat-card>