<mat-card>
  <img mat-card-image [src]="collectionCover" [alt]="collection.name">
  <mat-card-content>
    <main>
      <header>
        <h2>{{ collection.name }}</h2>
        <button *ngIf="isAuthenticated" (click)="star()" mat-icon-button color="warn">
          <mat-icon class="material-icons-round">{{ starIcon }}</mat-icon>
        </button>
      </header>
      <p *ngIf="collection.description">{{ collection.description }}</p>
    </main>
    <footer>
      <mat-chip-list *ngIf="collection.tags?.length > 0">
        <mat-chip *ngFor="let tag of collection.tags">
          <span>
            {{ tag.label }}
          </span>
        </mat-chip>
      </mat-chip-list>
      <data>
        <div class="date">{{ collection.creationTime | date: 'medium' }}</div>
        <div class="statistics">
          <span matTooltip="{{ collection.stars.length }} stars" matTooltipPosition="above">
            {{ collection.stars.length }}<mat-icon class="material-icons-round">star</mat-icon>
          </span>
          <span matTooltip="0 items" matTooltipPosition="above">
            0<mat-icon class="material-icons-round">reorder</mat-icon>
          </span>
        </div>
      </data>
    </footer>
  </mat-card-content>
</mat-card>