// @import '~@angular/material/_theming';

// $typography: mat-typography-config(
//   $font-family: '"Open Sans", serif'
// );

// @include mat-core($typography);

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #F6F6F6;
  color: #292929;
}

.container {
  position: relative;
  min-width: auto;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}