<div class="app__container">
  <div *ngIf="isAuthenticated" class="row mx-0">
    <div class="w-100" *ngIf="isOwner; else userSection">
      <app-statistics></app-statistics>
    </div>
    <ng-template #userSection>
      <div class="col-md-5 mb-2 mb-md-0 collections">
        <app-collections-column></app-collections-column>
      </div>
      <div class="col-md-7 py-3">
        <app-notifications-column></app-notifications-column>
      </div>
    </ng-template>
  </div>
  <div class="row mx-0 px-3 py-3 py-md-5 justify-content-center" *ngIf="!isAuthenticated">
    <div class="card not-auth-card">
      <h1>Добро пожаловать на портал "CollectionBook"!</h1>
      <h3>Здесь Вы можете хранить свои коллекции и просматривать коллекции других пользователей. Но для начала Вам
        необходимо создать учетную запись. Если же Вы уже зарегистрировались и подтвердили электронную почту, просто
        войдите в свой аккаунт.</h3>
      <div class="actions">
        <a mat-button routerLink="register">Создать аккаунт</a>
        <a class="ml-2" mat-raised-button color="primary" routerLink="login">Войти</a>
      </div>
    </div>
  </div>
</div>