<div class="app__container">
  <div *ngIf="isAuthenticated" class="row mx-0">
    <div class="w-100" *ngIf="isOwner; else userSection">
      <app-statistics></app-statistics>
    </div>
    <ng-template #userSection>
      <div class="col-md-5 mb-2 mb-md-0 collections">
        <app-collections-column></app-collections-column>
      </div>
      <div class="col-md-7 py-3">
        <app-notifications-column></app-notifications-column>
      </div>
    </ng-template>
  </div>
  <div class="row mx-0 px-3 pt-3 pt-md-5 justify-content-center" *ngIf="!isAuthenticated">
    <div class="card not-auth-card">
      <h1>Welcome to CollectionBook!</h1>
      <h3>This portal is the place where you can store your collections and view other people's collections. For the
        first you must be authenticated: if you already have an account, just log in. Otherwise, create a new one.</h3>
      <div class="actions">
        <button mat-button routerLink="register">Create an account</button>
        <button class="ml-2" mat-raised-button color="primary" routerLink="login">Log in</button>
      </div>
    </div>
  </div>
</div>