@import "/src/variables.scss";

.collections {
  min-height: calc(100vh - #{$header-height});
  width: fit-content;
  background-color: white;
  @include default-shadow;
  padding: 2rem;
}

.not-auth-card {
  width: 600px;

  h1 {
    text-align: center;
    font-weight: 500;
  }

  h3 {
    text-align: center;
    margin-top: 1.5rem;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }
}

@media (max-width: 768px) {
  .collections {
    min-height: unset;
    width: 100%;
  }
}