<div class="py-md-4 py-3">
  <div class="card pb-3 row mx-0 mb-4 flex-column">
    <h1>Элементы коллекции</h1>
    <div class="row mx-0 justify-content-between align-items-center">
      <app-search-input placeholder="Найти элемент коллекции" (changed)="searchInputChanged($event)"></app-search-input>
      <button *ngIf="showAddButton" mat-icon-button color="primary" (click)="addButtonWasClicked()"
        matTooltip="Добавить элемент" matTooltipShowDelay="500" matTooltipPosition="above">
        <mat-icon class="material-round-icons">note_add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mx-0 my-3 justify-content-center" *ngIf="!itemsLoaded">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div class="mb-3" *ngFor="let item of items">
    <app-item-card [item]="item"></app-item-card>
  </div>
  <h1 class="row mx-0 pb-5 justify-content-center" *ngIf="itemsLoaded && totalCount == 0">
    Элементы не найдены
  </h1>
  <div class="mt-4">
    <mat-paginator *ngIf="totalCount > 0" [length]="totalCount" [pageSize]="pageSize" [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"></mat-paginator>
  </div>
</div>