<div class="profile-underlay">
  <div class="container">
    <div class="profile">
      <div class="profile__avatar-block">
        <div class="profile__avatar-frame">
          <img class="profile__avatar" src="assets/img/default-profile-avatar.png" alt="avatar">
        </div>
      </div>
      <div class="profile__data-block">
        <h1 class="profile__data-line profile__data--name">Kirill Potapov</h1>
        <div class="profile__data-line profile__data--login">login</div>
        <div class="profile__data-line profile__data--biography">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio natus soluta saepe consequatur. Laudantium ad culpa non adipisci neque quos odio consequatur aliquid iste doloribus? Rerum accusantium eum quaerat natus!
        </div>
        <ul class="profile__data-line profile__data--others">
          <li>
            <div class="profile__icon-data">
              <i class="material-icons-round">location_on</i>
              Belarus, Minsk
            </div>
          </li>
          <li>
            <div class="profile__icon-data">
              <i class="material-icons-round">email</i>
              someemail@mail.com
            </div>
          </li>
          <li>
            <div class="profile__icon-data">
              <i class="material-icons-round">link</i>
              <a href="https://wikipedia.com" tabindex="-1" matTooltip="https://wikipedia.com">Website</a>
            </div>
          </li>
          <li>
            <div class="profile__icon-data">
              <i class="fab fa-telegram-plane"></i>
              <a href="https://t.me/telegram_login" tabindex="-1">@telegram_login</a>
            </div>
          </li>
          <li>
            <div class="profile__icon-data">
              <i class="fab fa-instagram"></i>
              <a href="https://www.instagram.com/instagram_login" tabindex="-1">@instagram_login</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <button id="settings-button" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>