<div class="profile-underlay">
  <div class="container">
    <div class="profile">
      <div class="profile__avatar-block">
        <div class="profile__avatar-frame">
          <img class="profile__avatar" src="{{ getAvatarPath() }}" alt="avatar">
        </div>
      </div>
      <div class="profile__data-block">
        <h1 class="profile__data-line profile__data--name" *ngIf="profile.firstName || profile.lastName" >{{ profile.firstName }} {{ profile.lastName }}</h1>
        <div class="profile__data-line profile__data--login" *ngIf="profile.login">{{ profile.login }}</div>
        <div class="profile__data-line profile__data--biography" *ngIf="profile.biography">{{ profile.biography }}</div>
        <ul class="profile__data-line profile__data--others" *ngIf="isOthersDataVisible()">
          <li *ngIf="profile.location">
            <div class="profile__icon-data">
              <i class="material-icons-round">location_on</i>
              {{ profile.location }}
            </div>
          </li>
          <li *ngIf="profile.isEmailVisible">
            <div class="profile__icon-data">
              <i class="material-icons-round">email</i>
              {{ profile.email }}
            </div>
          </li>
          <li *ngIf="profile.websiteUrl">
            <div class="profile__icon-data">
              <i class="material-icons-round">link</i>
              <a href="{{ profile.websiteUrl }}" tabindex="-1" matTooltip="{{ profile.websiteUrl }}">Website</a>
            </div>
          </li>
          <li *ngIf="profile.telegramLogin">
            <div class="profile__icon-data">
              <i class="fab fa-telegram-plane"></i>
              <a href="https://t.me/{{ profile.telegramLogin }}" tabindex="-1">@{{ profile.telegramLogin }}</a>
            </div>
          </li>
          <li *ngIf="profile.instagramLogin">
            <div class="profile__icon-data">
              <i class="fab fa-instagram"></i>
              <a href="https://www.instagram.com/{{ profile.instagramLogin }}" tabindex="-1">@{{ profile.instagramLogin }}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <button id="settings-button" mat-icon-button *ngIf="currentUser && currentUser.id == profile.id">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>