$table-min-width: 750px;

table {
  min-width: $table-min-width;
}

.mat-column-id {
  width: 320px;
}

td.mat-column-id {
  user-select: all;
}

.mat-column-role {
  width: 200px;
}

.mat-column-isBlocked {
  width: 100px;
}

mat-paginator {
  min-width: $table-min-width;
}
