@import 'src/variables.scss'; 

.table-container {
  position: relative;
  width: 100%;
  overflow: auto;
}

table {
  min-width: 750px;
}

.mat-column-id {
  width: 320px;
}

td.mat-column-id {
  user-select: all;
}

.mat-column-role {
  width: 200px;
}

.mat-column-isBlocked {
  width: 100px;
}

.mat-column-login > span {
  @include no-wrap-text();
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

mat-paginator {
  min-width: 750px;
}
