<h2>User dashboard</h2>
<div class="row mx-0 align-items-center justify-content-between">
  <app-search-input placeholder="Find by login or id..." (changed)="searchInputChangedHandler($event)">
  </app-search-input>
  <button mat-icon-button matTooltip="Refresh table" (click)="refreshButtonClickedHandler()">
    <mat-icon class="material-icons-round">refresh</mat-icon>
  </button>
</div>
<div class="table-container">
  <div class="loading-shade" *ngIf="!usersLoaded">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <table mat-table [dataSource]="users">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>Login</th>
      <td mat-cell *matCellDef="let user">
        <a class="link no-wrap" [routerLink]="['/profile', user.login]">@{{ user.login }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let user">
        {{ user.role }}
        <button
          matTooltip="{{ user.role == userRole ? 'Up' : 'Down' }} role to {{ user.role == userRole ? adminRole : userRole }}"
          mat-icon-button (click)="changeRoleButtonClickedHandler(user)">
          <mat-icon class="material-icons-round cell-icon">
            {{ user.role == userRole ? 'arrow_upward' : 'arrow_downward' }}
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="isBlocked">
      <th mat-header-cell *matHeaderCellDef>Is blocked</th>
      <td mat-cell *matCellDef="let user">
        <button
          matTooltip="Status: {{ user.isBlocked ? 'blocked' : 'unblocked' }}. Click to {{ user.isBlocked ? 'unblock' : 'block' }}"
          mat-icon-button (click)="blockButtonClickedHandler(user)">
          <mat-icon class="material-icons-round cell-icon">{{ user.isBlocked ? 'lock' : 'lock_open' }}</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        <span *ngIf="usersLoaded && totalCount == 0">
          No users matching the search string "{{ searchString }}"
        </span>
      </td>
    </tr>
  </table>

  <mat-paginator [length]="totalCount" [pageSizeOptions]="[20, 30, 40]" [pageSize]="pageSize" [pageIndex]="pageIndex"
    (page)="pageChangedHandler($event)"></mat-paginator>
</div>