$table-min-width: 600px;

table {
  min-width: $table-min-width;
}

.mat-column-date {
  width: 150px;
}

.mat-column-decision {
  width: 120px;
}

.mat-column-expand {
  width: 80px;
}

.description {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}

.expandable-row {
  td {
    border-bottom: none;
  }
}

.expandable-row-content {
  height: 0;
}

mat-paginator {
  min-width: $table-min-width;
}