@import 'src/colors.scss';

main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  * {
    color: $dark-gray;
  }

  mat-icon {
    margin-right: 0.8rem;
  }

  section {
    font-size: 1.4rem;
    line-height: 1.7rem;

    .highlight {
      font-weight: 500;
    }
  }
}