main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #444;

  mat-icon {
    margin-right: 0.8rem;
  }

  section {
    font-size: 1.4rem;
    line-height: 1.7rem;

    .link {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: black;
      }
    }

    .highlight {
      font-weight: 500;
    }
  }
}