<form [formGroup]="form" (submit)="submit()" (input)="formChanged()">
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input type="text" required autocomplete="off" matInput formControlName="login" [errorStateMatcher]="matcher">
    <mat-error *ngIf="login.errors?.required">Login is a required field</mat-error>
    <mat-error *ngIf="login.errors?.serverErrors">
      <div *ngFor="let error of login.errors?.serverErrors">{{error}}</div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input [type]="hidePassword ? 'password' : 'text'" required matInput formControlName="password" [errorStateMatcher]="matcher">
    <button type="button" tabindex="-1" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="password.errors?.required">Password is a required field</mat-error>
  </mat-form-field>
  <mat-error *ngIf="invalid">Invalid login or password</mat-error>
  <mat-error *ngIf="unknownError">Something went wrong...</mat-error>
  <button type="submit" [disabled]="inProcess" mat-raised-button color="primary">Login</button>    
</form>