<nav>
  <div class="app__container h-100">
    <div class="nav-bar">
      <button class="logo" mat-button routerLink="">
        <div>
          <img src="assets/img/logo.png" alt="">
          <span>CollectionBook</span>
        </div>
      </button>
      <mat-form-field class="search-input" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input type="search" autocomplete="off" matInput placeholder="Search">
      </mat-form-field>
      <div class="links" *ngIf="!isAuthenticated()">
        <button class="link--auth" mat-button routerLink="login">Log in</button>
        <button class="link--auth" mat-button routerLink="register">Sign up</button>
        <button id="auth-button" mat-icon-button [matMenuTriggerFor]="login">
          <mat-icon class="material-icons-round">login</mat-icon>
        </button>
        <mat-menu #login>
          <button mat-menu-item routerLink="login">Log in</button>
          <button mat-menu-item routerLink="register">Sign up</button>
        </mat-menu>
      </div>
      <div *ngIf="isAuthenticated()">
        <button mat-button [matMenuTriggerFor]="account">
          @{{ currentUser.login }}
        </button>
        <mat-menu #account>
          <button mat-menu-item [routerLink]="['profile', currentUser.login]">
            <mat-icon class="material-icons-round">account_circle</mat-icon>Your profile
          </button>
          <button mat-menu-item>
            <mat-icon class="material-icons-round">collections</mat-icon>Your collections
          </button>
          <button mat-menu-item>
            <mat-icon class="material-icons-round">star_rate</mat-icon>Your stars
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item [routerLink]="['settings', 'profile']">
            <mat-icon class="material-icons-round">settings</mat-icon>Settings
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon class="material-icons-round">logout</mat-icon>Log out
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>

<div class="maket"></div>