<nav>
  <div class="container">
    <div class="content">
      <a class="logo" routerLink="">
        <img class="logo__image" src="assets/img/logo.png" alt="">
        <div class="logo__text">CollectionBook</div>
      </a>
      <div class="search-input">
        <span class="material-icons-round search-icon">search</span>
        <input type="text" placeholder="Search...">
      </div>
      <div class="links" *ngIf="!isAuthenticated()">
        <button class="link link--auth" mat-button (click)="openLoginDialog()">Log in</button>
        <button class="link link--auth" mat-button (click)="openSignupDialog()">Sign up</button>
        <button id="auth-button" mat-icon-button [matMenuTriggerFor]="login"><mat-icon class="material-icons-round">login</mat-icon></button>
        <mat-menu #login>
          <button mat-menu-item (click)="openLoginDialog()">Log in</button>
          <button mat-menu-item (click)="openSignupDialog()">Sign up</button>
        </mat-menu>
      </div>
      <div *ngIf="isAuthenticated()">
        <button class="link" mat-button [matMenuTriggerFor]="account">
          @{{ currentUser.login }}
        </button>
        <mat-menu #account>
          <button mat-menu-item routerLink="profile"><mat-icon class="material-icons-round">account_circle</mat-icon>Your profile</button>
          <button mat-menu-item><mat-icon class="material-icons-round">collections</mat-icon>Your collections</button>
          <button mat-menu-item><mat-icon class="material-icons-round">star_rate</mat-icon>Your stars</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()"><mat-icon class="material-icons-round">settings</mat-icon>Settings</button>
          <button mat-menu-item (click)="logout()"><mat-icon class="material-icons-round">logout</mat-icon>Log out</button>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>

<div class="maket"></div>