<div class="app__container px-3">
  <main class="card">
    <div class="cover">
      <img src="https://localhost:44319/collectionscovers\db358bf3-30ca-4258-8391-2d245e6abb11.jpg" alt="">
    </div>
    <div class="data">
      <header>
        <h1>Some collection</h1>
        <app-star></app-star>
      </header>
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore placeat minus ducimus corrupti, odio dolor dolorum! Quia, aut saepe tenetur inventore odit tempora ipsum similique, perspiciatis illum atque, quas aliquam!
      </h3>
      <mat-chip-list>
        <mat-chip>
          <span>
            Collection
          </span>
        </mat-chip>
        <mat-chip>
          <span>
            Coins
          </span>
        </mat-chip>
        <mat-chip>
          <span>
            Minsk
          </span>
        </mat-chip>
        <mat-chip>
          <span>
            Red
          </span>
        </mat-chip>
        <mat-chip>
          <span>
            White
          </span>
        </mat-chip>
      </mat-chip-list>
      <div class="meta-data">
        <div class="date">Apr 7, 2021, 11:31:18 PM</div>
        <div class="stars-counter" matTooltip="10 stars" matTooltipPosition="above">
          10<mat-icon class="material-icons-round">star</mat-icon>
        </div>
      </div>
    </div>
  </main>
</div>