@import "src/variables.scss";
@import "src/colors.scss";

$cover-width: 350px;
$cover-width-md: 280px;

.loader-path-card {
  height: calc(27px + 2rem);
}

.collection {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 5rem;
  width: calc(100% - (#{$cover-width} / 2));
  overflow: unset;

  .menu-button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .cover {
    position: relative;
    margin-top: -80px;
    margin-left: calc((#{$cover-width} / 2 + #{$default-card-padding}) * -1);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    width: $cover-width;
    max-height: 500px;
    overflow: hidden;
    background: white;
    border-radius: 10px;
    border: 4px solid white;
    @include float-image-shadow;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    button {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  data {
    width: calc(100% - (#{$cover-width} / 2));

    header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
    }

    footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 0.8rem;
      font-size: 0.8rem;
      color: $light-gray;
    }
  }
}

@media (max-width: 992px) {
  .collection {
    width: calc(100% - (#{$cover-width-md} / 2));
  
    .cover {
      margin-left: calc((#{$cover-width-md} / 2 + #{$default-card-padding}) * -1);
      width: $cover-width-md;
    }
  
    data {
      width: calc(100% - (#{$cover-width-md} / 2));
    }
  }
}

@media (max-width: 768px) {

  .collection {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
  
    .cover {
      margin-left: 0;
      margin-right: 0;
      width: $cover-width;
    }
  
    data {
      width: 100%;
    }
  }
}