<div class="app__container px-3">
  <div class="card mt-md-4 mt-3 py-3 px-4">
    <app-path [nodes]="pathNodes" icon="collections" highlight="true"></app-path>
  </div>
  <main class="card">
    <button class="menu-button" *ngIf="showMenuButton" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="material-icons-round">
        more_vert
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addItemButtonClicked()">
        <mat-icon class="material-icons-round">add</mat-icon>
        <span>Add new item</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item [matMenuTriggerFor]="editMenu">
        <mat-icon class="material-icons-round">edit</mat-icon>
        <span>Edit collection</span>
      </button>
      <button mat-menu-item (click)="deleteButtonClicked()">
        <mat-icon class="material-icons-round">delete</mat-icon>
        <span>Delete collection</span>
      </button>
    </mat-menu>
    <mat-menu #editMenu="matMenu">
      <button mat-menu-item (click)="editNameButtonClicked()">name</button>
      <button mat-menu-item (click)="editDescriptionButtonClicked()">description</button>
      <button mat-menu-item (click)="editTagsButtonClicked()">tags</button>
    </mat-menu>
    <div class="cover">
      <img [src]="collectionCover" [alt]="collection?.name">
      <button *ngIf="showMenuButton" mat-mini-fab [matMenuTriggerFor]="coverMenu" color="">
        <mat-icon class="material-icons-round">mode_edit</mat-icon>
      </button>
      <mat-menu #coverMenu="matMenu">
        <input type="file" style="display: none;" accept="image/*" #cover (change)="coverSelected($event.target.files)">
        <button (click)="cover.click()" mat-menu-item>Upload cover</button>
        <button (click)="resetCover()" [disabled]="!resetCoverButtonEnabled" mat-menu-item>Reset cover</button>
      </mat-menu>
    </div>
    <div class="data">
      <header>
        <h1 *ngIf="collection?.name">{{ collection.name }}</h1>
        <app-star *ngIf="isAuthenticated" [starred]="starred" [collectionId]="collection?.id" (changed)="starStatusChanged($event)"></app-star>
      </header>
      <h3 *ngIf="collection?.description">{{ collection.description }}</h3>
      <mat-chip-list *ngIf="collection?.tags">
        <mat-chip *ngFor="let tag of collection.tags">{{ tag.label }}</mat-chip>
      </mat-chip-list>
      <div class="meta-data">
        <div class="date" *ngIf="collection">{{ collection.creationTime | date: 'medium' }}</div>
        <div class="stars-counter" *ngIf="collection" matTooltip="{{ collection.stars?.length }} stars" matTooltipPosition="above">
          {{ collection.stars?.length }}<mat-icon class="material-icons-round">star</mat-icon>
        </div>
      </div>
    </div>
  </main>
</div>