<main class="card p-0">
  <section>
    <div class="image">
      <img src="https://localhost:44319/collectionscovers\a71ffa36-3262-469c-a7a3-1004f5f4afd8.jpg" alt="">
    </div>
  </section>
  <section class="data px-3 py-4">
    <main>
      <h2>Some collection item</h2>
      <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolorum nulla ipsa. Vero amet hic consequuntur, delectus, ad, voluptas culpa magnam tempora quo nostrum pariatur magni nihil rerum libero id.</p>
    </main>
    <footer>
      <span class="date">Apr 25, 2021, 4:18:53 PM</span>
    </footer>
  </section>
</main>