<div class="app__container mt-md-4 mt-3 px-3">
  <div class="card px-4 py-3">
    <app-path [nodes]="pathNodes" [highlight]="true" icon="description"></app-path>
  </div>
</div>
<div class="app__container--sm mt-3 px-3">
  <div class="card">
    <carousel *ngIf="showCarousel && item?.images?.length > 1; else singleImage" [dots]="true" [cellWidth]="'100%'" [height]="400">
      <div class="carousel-cell image removable" *ngFor="let image of item.images">
        <button mat-mini-fab color="warn" (click)="removeImageButtonWasClicked(image.id)"><mat-icon class="material-icons-round">clear</mat-icon></button>
        <img [src]="getFullImagePath(image.path)" [alt]="item?.name">
      </div>
    </carousel>
    <ng-template #singleImage>
      <div *ngIf="item?.images?.length == 1; else defaultImage" class="image removable">
        <button mat-mini-fab color="warn">
          <mat-icon class="material-icons-round">clear</mat-icon>
        </button>
        <img [src]="getFullImagePath(item.images[0].path)" [alt]="item?.name">
      </div>
    </ng-template>
    <ng-template #defaultImage>
      <div class="image">
        <img [src]="defaultImagePath" [alt]="item?.name">
      </div>
    </ng-template>
    <h1 class="mt-2">{{ item?.name }}</h1>
    <h3>{{ item?.information }}</h3>
    <mat-chip-list *ngIf="item?.tags">
      <mat-chip *ngFor="let tag of item.tags">{{ tag.label }}</mat-chip>
    </mat-chip-list>
    <footer>
      <div class="date">{{ item?.creationTime | date: 'medium' }}</div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="material-icons-round">more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <input type="file" style="display: none;" accept="image/*" #imageInput
          (change)="imageWasSelected($event.target.files)">
        <button mat-menu-item (click)="imageInput.click()">
          <mat-icon class="material-icons-round">add_photo_alternate</mat-icon>
          <span>Add image</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="editMenu">
          <mat-icon class="material-icons-round">edit</mat-icon>
          <span>Edit item</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon class="material-icons-round">delete</mat-icon>
          <span>Delete item</span>
        </button>
      </mat-menu>
      <mat-menu #editMenu="matMenu">
        <button mat-menu-item (click)="editNameButtonWasClicked()">name</button>
        <button mat-menu-item (click)="editInfoButtonWasClicked()">information</button>
        <button mat-menu-item (click)="editTagsButtonWasClicked()">tags</button>
      </mat-menu>
    </footer>
  </div>
</div>