<h2 class="card py-3">Коллекции, добавленные пользователями в "Избранное"</h2>
<div *ngIf="!starsNotFound">
  <div class="card py-3 px-4 my-2 row mx-0 justify-content-between align-items-center flex-nowrap"
    *ngFor="let notification of starsNotifications"
    matTooltip="Пользователь '{{ notification.user.login }}' добавил коллекцию '{{ notification.collection.name }}'"
    matTooltipPosition="above"
    matTooltipShowDelay="500">
    <app-profile-cover [user]="notification?.user"></app-profile-cover>
    <div class="collection-info">
      <a class="link name" [routerLink]="['collection', notification.collection.id]">
        {{ notification.collection.name }}
      </a>
      <app-stars-counter [count]="notification.starsCount" [collectionId]="notification.collection.id"
        [collectionName]="notification.collection.name"></app-stars-counter>
    </div>
  </div>
</div>
<div class="row mx-0 my-3 justify-content-center" *ngIf="notificationsLoading">
  <mat-spinner [diameter]="30"></mat-spinner>
</div>
<button class="w-100" *ngIf="!notificationsLoading && isButtonVisible" mat-raised-button
  (click)="loadMore()">Показать еще...</button>
<h3 class="not-found" *ngIf="starsNotFound">Еще никто не добавлял ваши коллекции в "Избранное"</h3>