<mat-form-field appearance="outline">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <mat-date-range-input [formGroup]="rangeForm" [rangePicker]="picker">
    <input matStartDate formControlName="start" (daetChange)="dateChangedHandler()" placeholder="Start date">
    <input matEndDate formControlName="end" (dateChange)="dateChangedHandler()" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
  <button type="button" [disabled]="disabledResetButton" tabindex="-1" mat-icon-button matSuffix (click)="resetButtonClickedHandler()">
    <mat-icon class="material-icons-round">clear</mat-icon>
  </button>
</mat-form-field>