<div mat-dialog-title>
  <h1 class="row mx-0 align-items-center">
    <i class="material-icons-round mr-2">edit</i>Changing owner password
  </h1>
</div>
<form [formGroup]="form" (submit)="change()">
  <main mat-dialog-content>
    <div class="line">
      <mat-form-field class="field" appearance="outline">
        <mat-label>Current password</mat-label>
        <input [type]="hideCurrentPassword ? 'password' : 'text'" required matInput formControlName="currentPassword"
          [errorStateMatcher]="matcher">
        <button type="button" tabindex="-1" mat-icon-button matSuffix
          (click)="hideCurrentPassword = !hideCurrentPassword">
          <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="currentPasswordControl.errors?.required">You must enter current password</mat-error>
        <mat-error *ngIf="currentPasswordControl.errors?.serverErrors">
          <div *ngFor="let error of currentPasswordControl.errors?.serverErrors">{{error}}</div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="line">
      <mat-form-field class="field" appearance="outline">
        <mat-label>New password</mat-label>
        <input [type]="hideNewPassword ? 'password' : 'text'" required minlength="6"
          pattern="^(?=.*[a-z])(?=.*?[A-Z])(?=.*\d)([a-zA-Z\d]|.){6,}$" matInput formControlName="newPassword"
          [errorStateMatcher]="matcher">
        <button type="button" tabindex="-1" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Minimum length: 6</mat-hint>
        <mat-error *ngIf="newPasswordControl.errors">{{ newPasswordErrorMessage }}</mat-error>
        <mat-error *ngIf="newPasswordControl.errors?.serverErrors">
          <div *ngFor="let error of newPasswordControl.errors?.serverErrors">{{error}}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Password confirmation</mat-label>
        <input [type]="hidePasswordConfirmation ? 'password' : 'text'" required matInput
          formControlName="passwordConfirmation" [errorStateMatcher]="matcher">
        <button type="button" tabindex="-1" mat-icon-button matSuffix
          (click)="hidePasswordConfirmation = !hidePasswordConfirmation">
          <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordConfirmationControl.errors?.required">You must confirm password</mat-error>
        <mat-error *ngIf="passwordConfirmationControl.errors?.mismatch">Password mismatch</mat-error>
        <mat-error *ngIf="passwordConfirmationControl.errors?.serverErrors">
          <div *ngFor="let error of passwordConfirmationControl.errors?.serverErrors">{{error}}</div>
        </mat-error>
      </mat-form-field>
    </div>
  </main>
  <div mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close>Cancel</button>
    <button type="submit" [disabled]="inProcess" mat-raised-button color="primary">Change</button>
  </div>
</form>