<h1 mat-dialog-title>
  <i class="material-icons-round">edit</i>
  {{ data.header }}
</h1>
<form>
  <main mat-dialog-content>
    <div class="message">{{ data.message }}</div>
    <mat-form-field appearance="outline">
      <mat-label>{{ data.inputLabel }}</mat-label>
      <input type="{{ data.inputType }}" autocomplete="off" matInput [formControl]="data.formControl" [errorStateMatcher]="matcher">
      <mat-error *ngFor="let error of data.inputErrors">
        <span *ngIf="data.formControl.hasError(error.errorCode)">{{ error.errorMessage }}</span>
      </mat-error>
    </mat-form-field>
  </main>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ data.closeButtonName }}</button>
    <button (click)="submit()" mat-raised-button color="primary">{{ data.submitButtonName }}</button>
  </div>
</form>