h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.5rem;

  i {
    margin-right: 0.3rem;
  }
}

main {
  display: flex;
  flex-direction: column;

  .message {
    margin-bottom: 0.8rem;
  }

  input {
    width: 100%;
  }
}