<div class="card py-3">
  <div class="row mx-0 align-items-center justify-content-between">
    <div class="mr-3">
      <h2 class="m-0">Search: "{{ searchString }}"</h2>
      <h4 class="m-0">Found {{ totalCount }} user(-s)</h4>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Sort by</mat-label>
      <mat-select [(ngModel)]="selectedSortCriterion">
        <mat-option *ngFor="let criterion of sortCriterions" [value]="criterion.value">{{ criterion.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="my-3">
  <div class="row mx-0 my-3 justify-content-center" *ngIf="!usersLoaded">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <div *ngFor="let user of users | async" class="mb-2">
    <app-user-card [user]="user"></app-user-card>
  </div>
  
  <h1 class="row mx-0 justify-content-center" *ngIf="usersLoaded && totalCount == 0">
    No collections found
  </h1>

  <div class="mt-3">
    <mat-paginator *ngIf="totalCount > 0" [length]="totalCount" [pageSize]="pageSize"
      [pageIndex]="pageIndex" [pageSizeOptions]="[20, 30, 40]" (page)="pageChanged($event)"></mat-paginator>
  </div>
</div>