<div class="px-3">
  <main class="card mt-3 mt-md-4 mx-auto">
    <h1>Password reset</h1>
    <div>Enter new password and confirm it.</div>
    <form class="mt-3" [formGroup]="form" (submit)="submit()">
      <div class="line">
        <mat-form-field class="field" appearance="outline">
          <mat-label>Password</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" required minlength="6" pattern="^(?=.*[a-z])(?=.*?[A-Z])(?=.*\d)([a-zA-Z\d]|.){6,}$" matInput formControlName="password"
            [errorStateMatcher]="matcher">
          <button type="button" tabindex="-1" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Minimum length: 6</mat-hint>
          <mat-error *ngIf="password.errors">{{ passwordErrorMessage }}</mat-error>
          <mat-error *ngIf="password.errors?.serverErrors">
            <div *ngFor="let error of password.errors?.serverErrors">{{ error }}</div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="line">
        <mat-form-field class="field" appearance="outline">
          <mat-label>Password confirmation</mat-label>
          <input [type]="hidePasswordConfirmation ? 'password' : 'text'" required matInput
            formControlName="passwordConfirmation" [errorStateMatcher]="matcher">
          <button type="button" tabindex="-1" mat-icon-button matSuffix
            (click)="hidePasswordConfirmation = !hidePasswordConfirmation">
            <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="passwordConfirmation.errors">{{ passwordConfirmationErrorMessage }}</mat-error>
          <mat-error *ngIf="passwordConfirmation.errors?.serverErrors">
            <div *ngFor="let error of passwordConfirmation.errors?.serverErrors">{{ error }}</div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="actions justify-content-end">
        <button type="submit" [disabled]="inProcess" mat-raised-button color="primary">Reset</button>
      </div>
    </form>
  </main>
</div>