<div class="app__container p-md-4 p-3">
  <div
    class="card row mx-0 flex-sm-row flex-column align-items-sm-center justify-content-between w-100 px-4 py-3">
    <app-profile-cover [user]="userCover" [size]="profileCoverSize"></app-profile-cover>
    <a class="mt-3 mt-sm-0" mat-stroked-button [routerLink]="['/profile', login]">Go to profile</a>
  </div>
  <main class="mt-3 mx-0 row flex-md-row flex-column align-items-start">
    <section class="menu">
      <app-menu [title]="title" [items]="items" [selectedIndex]="selectedIndex" (change)="menuItemChanged($event)">
      </app-menu>
    </section>

    <section class="card settings">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>