<div class="card py-3">
  <div class="row mx-0 align-items-center justify-content-between">
    <div class="mr-3">
      <h2 class="m-0">По запросу "{{ searchString }}"</h2>
      <h4 class="m-0">найдены следующие элементы ({{ totalCount }})</h4>
    </div>
    <div class="row mx-0">
      <mat-form-field class="mr-3 mt-2" appearance="outline">
        <mat-label>Искать по</mat-label>
        <mat-select [(ngModel)]="selectedSearchCriterion">
          <mat-option *ngFor="let criterion of searchCriterions" [value]="criterion.value">{{ criterion.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mt-2" appearance="outline">
        <mat-label>Сортировать по</mat-label>
        <mat-select [(ngModel)]="selectedSortCriterion">
          <mat-option *ngFor="let criterion of sortCriterions" [value]="criterion.value">{{ criterion.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="mt-3">
  <div class="row mx-0 my-3 justify-content-center" *ngIf="!itemsLoaded">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <div *ngFor="let item of items | async" class="mb-2">
    <app-item-card [item]="item"></app-item-card>
  </div>
  
  <h1 class="row mx-0 justify-content-center" *ngIf="itemsLoaded && totalCount == 0">
    Элементы не найдены
  </h1>

  <div class="mt-3">
    <mat-paginator *ngIf="totalCount > 0" [length]="totalCount" [pageSize]="pageSize"
      [pageIndex]="pageIndex" [pageSizeOptions]="[20, 30, 40]" (page)="pageChanged($event)"></mat-paginator>
  </div>
</div>