<div class="card">
  <h1>Confirm your email</h1>
  <main>
    You must verify your email address <b>{{ email }}</b> to log into your account. To do this check your email, find our letter and follow the link in it.
  </main>
  <mat-divider></mat-divider>
  <footer>
    <div>
      <span>Did not get the letter?</span>
      <a (click)="sendEmail()">Click here to send again</a>
    </div>
    <div>
      <span>Misspelled an email address?</span>
      <a (click)="changeEmail()">Click here to change it</a>
    </div>
  </footer>
</div>