<h1>Profile settings</h1>
<h2>Change profile avatar</h2>
<div class="col-xl-5 col-lg-7 col-sm-9 col-12 px-0">
  <div class="avatar-settings">
    <div class="dummy"></div>
    <div class="menu">
      <button mat-fab [matMenuTriggerFor]="menu" color="">
        <mat-icon class="material-icons-round">mode_edit</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <input type="file" style="display: none;" accept="image/*" #avatarInput (change)="avatarSelected($event.target.files)">
        <button (click)="selectAvatar()" mat-menu-item>Upload a photo</button>
        <button [disabled]="!clearAvatarEnable" mat-menu-item>Clear</button>
      </mat-menu>
    </div>
    <div class="avatar">
      <img src="{{ getAvatarPath() }}" alt="">
    </div>
  </div>
</div>
<mat-divider class="my-4"></mat-divider>
<h2>Change profile data</h2>
<form [formGroup]="form" (submit)="submit()" (input)="formChanged()">
  <div class="line">
    <mat-form-field class="field" appearance="outline">
      <mat-label>First name</mat-label>
      <input type="text" maxlength="128" autocomplete="off" matInput formControlName="firstName"
        [errorStateMatcher]="matcher">
      <mat-hint>Maximum length: 128</mat-hint>
      <mat-error *ngIf="form.get('firstName').errors?.maxlength">Maximum first name length is 128</mat-error>
      <mat-error *ngIf="form.get('firstName').errors?.serverErrors">
        <div *ngFor="let error of form.get('firstName').errors?.serverErrors">{{error}}</div>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field" appearance="outline">
      <mat-label>Last name</mat-label>
      <input type="text" maxlength="128" autocomplete="off" matInput formControlName="lastName"
        [errorStateMatcher]="matcher">
      <mat-hint>Maximum length: 128</mat-hint>
      <mat-error *ngIf="form.get('lastName').errors?.maxlength">Maximum last name length is 128</mat-error>
      <mat-error *ngIf="form.get('lastName').errors?.serverErrors">
        <div *ngFor="let error of form.get('lastName').errors?.serverErrors">{{error}}</div>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="line">
    <mat-form-field class="field" appearance="outline">
      <mat-label>Biography</mat-label>
      <textarea rows="4" placeholder="Write some words about you" matInput formControlName="biography"></textarea>
      <mat-error *ngIf="form.get('biography').errors?.serverErrors">
        <div *ngFor="let error of form.get('biography').errors?.serverErrors">{{error}}</div>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="line">
    <mat-form-field class="field" appearance="outline">
      <mat-label>Email visibility</mat-label>
      <mat-select formControlName="isEmailVisible">
        <mat-option [value]="false">Unvisible</mat-option>
        <mat-option [value]="true">Visible</mat-option>
      </mat-select>
      <mat-hint>Email visibility in your profile page</mat-hint>
    </mat-form-field>
  </div>
  <div class="line">
    <mat-form-field class="field" appearance="outline">
      <mat-label>Location</mat-label>
      <input type="text" maxlength="256" autocomplete="off" placeholder="Ex. Belarus, Minsk" matInput
        formControlName="location" [errorStateMatcher]="matcher">
      <mat-hint>Maximum length: 256</mat-hint>
      <mat-error *ngIf="form.get('location').errors?.maxlength">Maximum location length is 256</mat-error>
      <mat-error *ngIf="form.get('location').errors?.serverErrors">
        <div *ngFor="let error of form.get('location').errors?.serverErrors">{{error}}</div>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="line">
    <mat-form-field class="field" appearance="outline">
      <mat-label>Your website</mat-label>
      <input type="url" autocomplete="off" placeholder="Ex. https://wikipedia.com" matInput
        formControlName="websiteUrl">
      <mat-error *ngIf="form.get('websiteUrl').errors?.serverErrors">
        <div *ngFor="let error of form.get('websiteUrl').errors?.serverErrors">{{error}}</div>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="line">
    <mat-form-field class="field" appearance="outline">
      <mat-label>Telegram login</mat-label>
      <input type="text" autocomplete="off" placeholder="Ex. kirill" matInput formControlName="telegramLogin">
      <mat-error *ngIf="form.get('telegramLogin').errors?.serverErrors">
        <div *ngFor="let error of form.get('telegramLogin').errors?.serverErrors">{{error}}</div>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field" appearance="outline">
      <mat-label>Instagram login</mat-label>
      <input type="text" autocomplete="off" placeholder="Ex. kirill" matInput formControlName="instagramLogin">
      <mat-error *ngIf="form.get('instagramLogin').errors?.serverErrors">
        <div *ngFor="let error of form.get('instagramLogin').errors?.serverErrors">{{error}}</div>
      </mat-error>
    </mat-form-field>
  </div>
  <mat-error *ngIf="unknownError">Something went wrong on server. You can try to update profile again</mat-error>
  <div class="actions justify-content-end">
    <button type="submit" [disabled]="inProcess" mat-raised-button color="primary">Update profile</button>
  </div>
</form>